<!DOCTYPE html>
<html>
  <head>
    <title>Scoop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo1.png') %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.jpg') %>";
      window.mainURL = "<%= image_url('main.jpg') %>";
      window.signupURL = "<%= image_url('signin.jpg') %>";
      window.newsURL = "<%= image_url('news.jpg') %>";
      window.squareURL = "<%= image_url('square.jpg') %>";
      window.errorURL = "<%= image_url('error.jpg') %>";
      window.video1URL = "<%= image_url('change.mp4') %>";
      window.video2URL = "<%= image_url('shared.mp4') %>";
      window.slackURL = "<%= image_url('slack.jpg') %>";


    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
